<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 1 - Edit Blog</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Sidebar -->
    <%- include ("./Layout/sidebar") %>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include("./Layout/navbar")%>
                    <!-- End of Topbar -->
                    <div class="col-md-6 offset-md-3 mt-5">
                        </a>
                        <br>
                        <h1>Edit Blog</h1>
                        <form accept-charset="UTF-8" action="/updateblog"
                            method="post" enctype="multipart/form-data">
                            <input type="hidden" name="uid" id="uid" value="<%=data._id%>">
                            <div class="form-group">
                                <label for="exampleInputName">Article Name</label>
                                <input type="text" name="artical" class="form-control" id="exampleInputName"
                                    placeholder="Enter your name and surname" required="required" value="<%=data.article%>">
                            </div>
                            <div class="form-group">
                                <label for="text" required="required">Author</label>
                                <input type="text" name="author" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Your Name" value="<%=data.auhtor%>">
                                    </div>
                            <div class="form-group">
                                <label for="text" required="required">Publish Date</label>
                                <input type="text" name="date" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="DD/MM/YYY" value="<%=data.date%>">
                            </div>
                            <hr>
                            <div class="form-group mt-3">
                                <label class="mr-2">Upload your Image:</label>
                                <input type="file" name="image" value="<%=data.image%>">
                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>



                    <!-- End of Main Content -->

                    <!-- Logout Modal-->
                    <%- include("./Layout/logout")%>

                        <!-- Footer -->
                        <%- include("./Layout/footer")%>